/* HOME */
*{
    padding: 0;
    margin: 0;
    font-family: "Alegreya", sans-serif;
}
body{
    background-color: #f7ffff;
    min-height: 100vh;
}
nav{
    padding: 0px 0px 0px 10px;
}
.brand-logo span{
    color: aqua;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 50px);
    background-color: #f7ffff;
    text-align: center;
}
main .btn-large{
    width: calc(80% - 6px);
    margin: 6px;
}
.footer-copyright i.fa{
    margin: 0px 4px;
    font-size: 20px;
    padding: 6px;
    color: #f7f7f7;
    background: transparent;
    border: 2px solid #f7f7f7;
    border-radius: 3px;
    transition-duration: 0.3s;
}
.footer-copyright i.fa:hover{
    color: #047467;
    background: #f7f7f7;
    border: 2px solid #0000;
}
/* LEADERBOARD */
table{
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}
#names{
    max-width: 200px;
}
.leaderboard-nav{
    width: 80%;
    margin: 10px auto;
}
.leaderboard-nav .nav-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.leaderboard-nav button{
    box-shadow: none;
}
/* ABOUT */
main .row{
    width: 80%;
}
main i.fa{
    margin: 0px 4px;
    font-size: 20px;
    padding: 6px;
    color: #047467;
    background: transparent;
    border: 2px solid #047467;
    border-radius: 3px;
    transition-duration: 0.3s;
}
main i.fa:hover{
    color: #f7f7f7;
    background: #047467;
    border: 2px solid #0000;
}
.img-container{
    text-align: center;
    margin: 0px auto;
}
.img-container img{
    border-radius: 4px;
    box-shadow: 1px 1px 3px 2px #08080833;
}
.text-container{
    text-align: left;
}
/* HTML */
#div1{
    background-color: #047467;
    width: 90%;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
}
.info-div{
    border-radius: 4px;
    color: #000;
    font-size: 24px;
}
.answer-container{
    background-color: #fff;
    padding: 4px;
    border-radius: 4px;
    margin: 8px 0;
}
label span{
    color: #047467;
    width: 100%;
    font-weight: bold;
    font-family: sans-serif;
}
#div10 .btn{
    width: 100%;
    border-radius: 4px;
}
#loader{
    background-color: #fffa;
    height: 20px;
    border-radius: 4px;
    border: 4px solid #fffd;
}
#loader-bar{
    background-color: #047467b2;
    height: 100%;
    width: 0%;
    transition-duration: 0.5s;
}






/* RESPONSIVE */
@media screen and (max-width: 992px) {
    main{
        padding-top: 56px;
    }
}